[submodule "Components/NanoGraph"]
	path = Components/NanoGraph
	url = https://github.com/sebhalldesigns/NanoGraph
[submodule "Components/NanoDraw"]
	path = Components/NanoDraw
	url = https://github.com/sebhalldesigns/NanoDraw
[submodule "Components/NanoWin"]
	path = Components/NanoWin
	url = https://github.com/sebhalldesigns/NanoWin.git
[submodule "Components/NanoAPI"]
	path = Components/NanoAPI
	url = https://github.com/sebhalldesigns/NanoAPI.git
